.services {
  background: linear-gradient(360deg, #262626 5%, #6b8c49 100%);
  height: fit-content;

  padding-bottom: 120px;
  .servicesWrapper {
    width: 80%;

    margin: 0 auto;
    .servicesTitle {
      font-size: 62px;
      font-weight: 700;
      text-align: center;
    }
    .servicesSubtitle {
      font-size: 18px;
      font-weight: 700;
      color: #f2f2f2;
    }
  }

  .tarrifsWrapper {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 80%;
    margin: auto;
    margin-top: 35px;

    .tarrifsItem {
      position: relative;
      width: 400px;
      height: 480px;
      // height: fit-content;
      padding-bottom: 25px;
      background-color: #262626;
      box-shadow: 0px 5px 5px rgb(26, 25, 25);
      .tarrifsItemTitle {
        width: 233px;
        height: 61px;
        position: absolute;
        left: -25px;
        top: 15px;
        box-shadow: -10px 5px 5px rgb(26, 25, 25);
        display: flex;
        align-items: center;
        padding-left: 10px;
        background: #6b8c49;
        h2 {
          text-align: start;
          font-size: 29px;
          font-weight: 500;
        }
      }
      .tarrifsBlock {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 80px;
        height: 100%;
        padding-bottom: 75px;
        img {
          width: 20px;
          height: 20px;
        }
        button {
          margin-top: auto;

          width: 219px;
          height: 52px;
          border: 1px solid #6b8c49;
          font-size: 25px;
          color: #fff;
          // margin-top: 37px;
          font-weight: 700;
          cursor: pointer;
          margin-left: 50%;
          transform: translate(-50%);
        }
      }
    }
  }
}
@media screen and (min-width: 2250px){
  .services {
    max-width: 2250px;
    margin: auto;
  }
} 
@media screen and (max-width: 1600px) {
  .services {
    .servicesWrapper {
      width: 90%;
    }
    .tarrifsWrapper {
      width: 90%;
    }
  }
}

@media screen and (max-width: 1440px) {
  .services {
    .tarrifsWrapper {
      flex-wrap: wrap;
      .tarrifsItem {
        flex-grow: 1;
      }
    }
  }
}

@media screen and (max-width: 864px) {
  .services {
    .tarrifsWrapper {
      justify-content: center;
      .tarrifsItem {
        flex-grow: 0;
        margin-bottom: 20px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .services {
    padding-bottom: 60px;
    .servicesWrapper {
      width: 90%;
      .servicesTitle {
        font-size: 52px;
      }
    }
  }
}