* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.Team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 64px;
  margin-top: 150px;
  font-weight: 700;
  line-height: 70px;
}

.container {
  display: flex;
  gap: 35px;
  margin-top: 35px;
  padding-left: 110px;
}

.teacher {
  height: 450px;
  border: 1px solid #fff;
  width: 300px;
  text-align: center;
}

.teacher img {
  width: 100%;
  height: 250px;
}

.teacher .name {
  font-size: 24px;
  font-weight: 700;
  line-height: 60px;
}

.skills {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.skills img {
  width: 25px;
  height: 25px;
  margin-left: 8px;
  cursor: pointer;
}

.skills .react {
  width: 40px;
}

.skills .t {
  height: 20px;
  width: 30px;
}
