.about {
  width: 100%;
  height: fit-content;
  padding-bottom: 66px;
  padding-top: 45px;
  overflow: hidden;
  background: linear-gradient(180deg, #262626 14.46%, #05fd42 100%);

  .aboutLeft {
    display: flex;
    padding-right: 30px;
  }
  h2 {
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
  }
  p {
    font-size: 29px;
    font-weight: 700;
    margin-top: 25px;
  }
  .aboutRight {
    display: flex;
    justify-content: space-between;
    padding-left: 135px;
  }
}
@media screen and (min-width: 2250px) {
  .about {
    max-width: 2250px;
    margin: auto;
  }
}

@media screen and (max-width: 1444px) {
  .about {
    .aboutRight {
      img {
        width: 65%;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .about {
    h2 {
      font-size: 90px;
    }
    p {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 1152px) {
  .about {
    h2 {
      font-size: 82px;
    }
    p {
      font-size: 27px;
    }
  }
}
@media screen and (max-width: 1100px) {
  .about {
    h2 {
      font-size: 78px;
    }
    p {
      font-size: 24px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .about {
    .aboutLeft {
      padding-right: 0;
    }
    .aboutRight {
      padding-left: 60px;
    }
  }
}

@media screen and (max-width: 920px) {
  .about {
    h2 {
      font-size: 64px;
      line-height: 60px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    h2 {
      font-size: 52px;
      line-height: 40px;
    }
    p {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 712px) {
  .about {
    .aboutLeft {
      width: 100%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      h2 {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
      }
      p {
        margin: 0 auto;
        width: 80%;
        text-align: left;
        white-space: normal !important;
      }
      div {
        width: 100% !important;
        margin-top: 36px;
      }
    }
    .aboutRight {
      padding-left: 0px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      h2 {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
      }
      p {
        margin: 0 auto;
        width: 80%;
        text-align: left;
        white-space: normal !important;
      }
      img {
        width: 100%;
      }
      div {
        width: 100%;
        margin-top: 36px;
      }
    }
  }
}
