.mainPage {
  max-width: 2250px;
  display: flex;
  min-height: 100vh;
  padding-top: 27px;
  padding-bottom: 101px;
  padding-left: 127px;
  line-height: 100px;
  position: relative;
  overflow: hidden;
  // background: url(/Main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #262626;
  z-index: 2;

  .title {
    line-height: normal;
    margin-top: 25px;
    font-size: 120px;
    display: flex;
    flex-direction: column;
    .mainTitle {
      display: flex;
    }
    color: white;
    font-family: "Swis721 Win95BT" sans-serif;
    font-weight: bold;
    span {
      color: green;
    }
    p {
      font-size: 87px;
    }
  }
  .subtitle {
    margin-top: 25px;
    line-height: 41px;
    font-weight: 700;
    font-size: 34px;
    color: #f2f2f2;
  }
}
@media screen and (min-width: 2250px) {
  .mainPage {
    margin: auto;
  }
}
@media screen and (max-width: 1152px) {
  .mainPage {
    .subtitle {
      font-size: 30px;
    }
  }
}
@media screen and (max-width: 1100px) {
  .mainPage {
    .title {
      margin-top: 0;
      font-size: 100px;
      p {
        font-size: 70px;
      }
    }
    .subtitle {
      margin-top: 0;
      font-size: 22px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .mainPage {
    padding-left: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .mainPage {
    min-height: fit-content;
    div {
      canvas {
        top: -15% !important;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .mainPage {
    padding-top: 0;
  }
}