.development {
  height: fit-content;
  background-color: #262626;
  padding-top: 50px;
  padding-bottom: 35px;
}

.developmentWrapper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 25px;
}
@media screen and (min-width: 2250px) {
  .development {
    max-width: 2250px;
    margin: auto;
  }
}
@media screen and (max-width: 1444px) {
  .developmentWrapper {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .development {
    h2 {
      font-size: 74px !important;
    }
  }
  .developmentWrapper {
    width: 90%;
  }
}
@media screen and (max-width: 864px) {
  .development {
    h2 {
      font-size: 64px !important;
    }
  }
  
  .developmentWrapper {
    flex-direction: column;
    div {
      margin-bottom: 20px;
      width: 100%;
      h3 {
        white-space: normal;
      }
      img {
        width: 100%;
        object-fit: contain;
      }
      div {
        button {
          width: 100% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .development {
    h2 {
      font-size: 52px !important;
    }
  }
}