@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.contacts {
  width: 90%;
  height: fit-content;
  margin: 0 auto;
  padding-bottom: 50px;
  font-family: "Inter", sans-serif;
  .contactsWrapper {
    display: flex;
    justify-content: space-between;
    .contactsLeft {
      position: relative;
      z-index: 2;
      &::after {
        content: "";
        position: absolute;
        top: 40px;
        left: 5px;
        width: 700px;
        height: 475px;
        background: #6b8c49;
        z-index: -1;
      }
    }
    .contactsRight {
      padding-top: 70px;
    }
  }
}
@media screen and (min-width: 2250px){
  .contacts {
    max-width: 2250px;
    margin: auto;
  }
} 
@media screen and (max-width: 1540px) {
  .contacts {
    .contactsWrapper {
      .contactsRight {
        margin-left: 30px;
      }
    }
  }
}
@media screen and (max-width: 1380px) {
  .contacts {
    .contactsWrapper {
      .contactsRight {
        div {
          margin-left: 20px;
          &:nth-child(2) {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1320px) {
  .contacts {
    .contactsWrapper {
      .contactsRight {
        div {
          flex-direction: column;
          margin-left: 0px;
          &:nth-child(2) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .contacts {
    .contactsWrapper {
      .contactsLeft {
        left: -30px;
        width: 700px;
        &::after {
          width: 600px;
        }
      }
      .contactsRight {
        padding-top: 0px;
      }
    }
  }
  iframe {
    width: 100%;
  }
}
// margin-left: 10px;
// flex-grow: 1;

@media screen and (max-width: 960px) {
  .contacts {
    .contactsWrapper {
      .contactsLeft {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .contacts {
    h2 {
      font-size: 64px;
    }
  }
}

@media screen and (max-width: 720px) {
  .contacts {
    h2 {
      font-size: 54px;
      text-align: center;
    }
    .contactsWrapper {
      flex-direction: column-reverse;
      .contactsLeft {
        width: 100%;
        &::after {
          width: 100%;
          height: 500px;
          top: 60px;
        }
      }
      .contactsRight {
        div {
          flex-direction: row;
          div {
            flex-direction: column;
          }
        }
      }
    }
  }
  iframe {
    width: 90%;
  }
}