.goals {
  padding-top: 25px;
  padding-bottom: 90px;
  padding-left: 135px;
  min-height: 920px;
  background: url("./boss.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  h2 {
    font-size: 90px;
    font-weight: 700;
  }
  .goalsLine {
    position: relative;
    margin: 0% auto;
    width: 90%;
    height: 720px;
    // height: fit-content;

    background: url("./goals-line.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    img {
      width: 100%;
    }

    .goalsItem {
      position: absolute;
      top: 5%;
      padding: 15px;

      height: fit-content;
      background: #6b8c49;
      border-radius: 24px;

      p {
        font-size: 18px;
        font-weight: 700;
        opacity: 80%;
        margin-left: 15px;
      }

      &:nth-child(2) {
        left: 25vw;
        top: -15px;
        width: 396px;
        height: fit-content;
      }
      &:nth-child(3) {
        left: 60vw;
        top: 20%;
        width: 377px;
        height: fit-content;
      }
      &:nth-child(4) {
        left: 25vw;
        top: 55%;
        width: 377px;
        height: fit-content;
      }
    }
  }
}

@media screen and (max-width: 1520px) {
  .goals {
    .goalsLine {
      .goalsItem {
        &:nth-child(3) {
          left: 70%;
        }
      }
    }
  }
}
@media screen and (max-width: 1320px) {
  .goals {
    .goalsLine {
      .goalsItem {
        &:nth-child(1) {
          left: -15%;
        }
        &:nth-child(2) {
          left: 20%;
        }
        &:nth-child(3) {
          left: 65%;
        }
        &:nth-child(4) {
          left: 25%;
        }
      }
    }
  }
}
@media screen and (max-width: 1152px) {
  .goals {
    .goalsLine {
      .goalsItem {
        p {
          font-size: 16px;
        }
        &:nth-child(4) {
          width: fit-content;
        }
        &:nth-child(3) {
          width: fit-content;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .goals {
    background-size: 300px;
    .goalsLine {
      .goalsItem {
        &:nth-child(2) {
          left: 40%;
        }
        &:nth-child(3) {
          top: 40%;
          left: 56%;
        }
        &:nth-child(4) {
          left: 15%;
          top: 40%;
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .goals {
    .goalsLine {
      .goalsItem {
        &:nth-child(1) {
          left: 65%;
          top: 35%;
        }
        &:nth-child(2) {
          left: 40%;
        }
        &:nth-child(3) {
          top: 70%;
          left: 20%;
        }
        &:nth-child(4) {
          left: -15%;
          top: 0%;
        }
      }
    }
  }
}
@media screen and (max-width: 920px) {
  .goals {
    .goalsLine {
      .goalsItem {
        &:nth-child(1) {
          left: 50%;
          top: 35%;
        }
      }
    }
  }
}
@media screen and (max-width: 820px) {
  .goals {
    height: 1300px;
    .goalsLine {
      background-image: none;
      height: 900px;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      position: static;
      .goalsItem {
        width: 100%;
        position: static;
        &:nth-child(1) {
          width: 100%;
          p {
            white-space: normal !important;
          }
        }
        &:nth-child(2) {
          width: 100%;
          p {
            white-space: normal !important;
          }
        }
        &:nth-child(3) {
          p {
            width: 100%;
            white-space: normal !important;
          }
        }
        &:nth-child(4) {
          width: 100%;
          p {
            white-space: normal !important;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 2250px) {
  .goals {
    max-width: 2250px;
    margin: auto;
    .goalsLine {
      .goalsItem {
        &:nth-child(1) {
          left: 10%;
        }
        &:nth-child(2) {
          left: 30%;
        }
        &:nth-child(3) {
         left: 60%;
        }
        &:nth-child(4) {
          left: 30%;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .goals {
    background-image: none;
    height: fit-content;
    padding-left: 0;
    h2 {
      font-size: 52px;
      text-align: center;
      margin-bottom: 20px;
    }
    .goalsLine {
      height: 700px;
    }
  }
}